


<div class="card">
    <p-table
        [value]="currencies"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:33.3%">code</th>
                <th style="width:33.3%">symbol</th>
                <th style="width:33.3%">name</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-currencies>
            <tr>
                <td>{{ currencies.code }}</td>
                <td>{{ currencies.symbol }}</td>
                <td>{{ currencies.name }}</td>
            </tr>
        </ng-template>
     
    </p-table>
</div>



        
